	<!DOCTYPE html>
	<html lang="zxx" class="no-js">
	<head>
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link rel="shortcut icon" href="{{ url_for('static', filename ='img/fav.png') }}">
		<!-- Author Meta -->
		<meta name="author" content="CodePixar">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>Voice Intelligence</title>

		<link href="https://fonts.googleapis.com/css?family=Poppins:100,400,300,500,600" rel="stylesheet">
			<!--
			CSS
			============================================= -->
			<link rel="stylesheet" href="{{ url_for('static', filename ='css/linearicons.css') }}">
			<link rel="stylesheet" href="{{ url_for('static', filename ='css/owl.carousel.css') }}">
			<link rel="stylesheet" href="{{ url_for('static', filename ='css/font-awesome.min.css') }}">
			<link rel="stylesheet" href="{{ url_for('static', filename ='css/nice-select.css') }}">
			<link rel="stylesheet" href="{{ url_for('static', filename ='css/magnific-popup.css') }}">
			<link rel="stylesheet" href="{{ url_for('static', filename ='css/bootstrap.css') }}">
			<link rel="stylesheet" href="{{ url_for('static', filename ='css/main.css') }}">
		</head>
		<body>
			<!-- Start Header Area -->
			<header class="default-header">
				<div class="container">
					<div class="header-wrap">
						<div class="header-top d-flex justify-content-between align-items-center">
							<div class="logo">
								<a href="index"><img src="{{ url_for('static', filename ='img/logo.png') }}" alt=""></a>
							</div>
							<div class="main-menubar d-flex align-items-center">
								<nav class="hide">
									<a href="index">Home</a>
									<a href="demo">Demo</a>
								</nav>
								<div class="menu-bar"><span class="lnr lnr-menu"></span></div>
							</div>
						</div>
					</div>
				</div>
			</header>
			<!-- End Header Area -->
			<!-- Start Banner Area -->
			<section class="banner-area relative">
				<div class="overlay overlay-bg"></div>
				<div class="container">
					<div class="row fullscreen align-items-center justify-content-center" style="height: 735px;">
						<div class="col-lg-10">
							<div class="banner-content text-center">
								<h1 class="text-uppercase text-white">Voice Intelligence</h1>
								<p>
									Enabling Better Insights Through AI-Driven Urdu Audio Analysis
								</p>
								<a href="demo" class="genric-btn primary-border circle">View Demo</a>
							</div>
						</div>
					</div>
				</div>
			<div></div></section>
			<!-- End Banner Area -->
			<!-- Start feature Area -->
			<section class="feature-area pt-100 pb-100">
				<div class="container">
					<div class="row">
						<div class="col-lg-4 col-sm-6 single-feature">
							<span class="lnr lnr-thumbs-up"></span>
							<h2>Easy To Use</h2>
						</div>
						<div class="col-lg-4 col-sm-6 single-feature">
							<span class="lnr lnr-layers"></span>
							<h2>Expandable</h2>
						</div>
						<div class="col-lg-4 col-sm-6 single-feature">
							<span class="lnr lnr-cog"></span>
							<h2>Customizable</h2>
						</div>
					</div>
				</div>
			</section>
			<!-- End feature Area -->
			<!-- Start core-feature Area -->
			<section class="core-feature-bottom-area" style = "background: #f7faff">
				<div class="container-fluid">
					<div class="row align-items-center justify-content-between">
						<div class="col-lg-6 core-feat-left">
							<h2>
								<span>Speech Recognition</span>
							</h2>
							<p>
								Our speech recognition engine enables you to understand your customers in their <b>natural and native language</b>. Your customers no longer have to interact with complex and boring interfaces. With our services customers can just speak out their <b>queries, concerns, and complaints</b> without hassle and the assurance that you will be listening.
							</p>
						</div>
						<div class="col-lg-6 core-feature-right no-padding">
							<img class="img-fluid" src="{{ url_for('static', filename ='img/Speech.png') }}" alt="">
						</div>
					</div>
				</div>
			</section>
			<section class="core-feature-bottom-area">
				<div class="container-fluid">
					<div class="row align-items-center justify-content-start">
						<div class="col-lg-6 core2-left no-padding">
							<img class="img-fluid" src="{{ url_for('static', filename ='img/Sentiment.png') }}" alt="">
						</div>
						<div class="col-lg-6 col-lg-6 core-feat-left">
							<h2>
								<span>Sentiment Analysis</span>
							</h2>
							<p>
								Is your customer <b>happy</b> or <b>upset</b>? We're sure they want you to know their emotions about your product/service. A happy customer must always come back to you, and an angry one must never leave. Voice Intelligence is the tool you need to understand your customer's emotions so you can serve them better. This is your first step to <b>changing negativity about your product into positivity</b> for making better business.
							</p>
						</div>
					</div>
				</div>
			</section>
			<section class="core-feature-bottom-area" style = "background: #f7faff">
				<div class="container-fluid">
					<div class="row align-items-center justify-content-between">
						<div class="col-lg-6 core-feat-left">
							<h2>
								<span>Subject Categorization</span>
							</h2>
							<p>
								What is it that concerns your customer the most? Are they <b>curious about a product</b> or are they <b>frustrated with a service</b>? You surely want to know which of your products or services are your customers talking about the most. Our Urdu subject categorization feature will help you identify major concern areas of your customers so that you know which products are on their way to becoming highly popular and which of them need more attention.
							</p>
						</div>
						<div class="col-lg-6 core-feature-right no-padding">
							<img class="img-fluid" src="{{ url_for('static', filename ='img/Subject.png') }}" alt="">
						</div>
					</div>
				</div>
			</section>
			<section class="core-feature-bottom-area">
				<div class="container-fluid">
					<div class="row align-items-center justify-content-start">
						<div class="col-lg-6 core2-left no-padding">
							<img class="img-fluid" src="{{ url_for('static', filename ='img/Insights.png') }}" alt="">
						</div>
						<div class="col-lg-6 col-lg-6 core-feat-left">
							<h2>
								<span>Visualize Information</span>
							</h2>
							<p>
								Our detailed insights provide you with the capacity to gain an <b>accurate and deep understanding</b> of what your customers are reaching out to tell you. With detailed insights like which products are receiving the most positive customer feedback and what your customers are complaining about, you will be able to <b>respond to your customer's needs in real time</b>.
							</p>
						</div>
					</div>
				</div>
			</section>
			<!-- End core-feature Area -->
			<!-- Start process Area -->
			<section class="process-area pt-100 pb-100">
				<div class="container">
					<div class="row">
						<div class="col-lg-2 col-sm-6 single-process no-padding">
							<span class="lnr lnr-bubble" style = "font-weight: 700"></span>
							<div class="center-block dot" style = "background: #000"></div>
							<h2 class="text-uppercase">Receive Call</h2>
						</div>
						<div class="col-lg-2 col-sm-6 single-process no-padding">
							<span class="lnr lnr-menu" style = "font-weight: 700"></span>
							<div class="d-flex justify-content-center dot" style = "background: #000"></div>
							<h2 class="text-uppercase">Speech To Text</h2>
						</div>
						<div class="col-lg-2 col-sm-6 single-process no-padding">
							<span class="lnr lnr-sync" style = "font-weight: 700"></span>
							<div class="d-flex justify-content-center dot" style = "background: #000"></div>
							<h2 class="text-uppercase">Preprocessing</h2>
						</div>
						<div class="col-lg-2 col-sm-6 single-process no-padding">
							<span class="lnr lnr-code" style = "font-weight: 700"></span>
							<div class="dot" style = "background: #000"></div>
							<h2 class="text-uppercase">Text Analysis</h2>
						</div>
						<div class="col-lg-2 col-sm-6 single-process no-padding">
							<span class="lnr lnr-pie-chart" style = "font-weight: 700"></span>
							<div class="d-flex justify-content-center dot" style = "background: #000"></div>
							<h2 class="text-uppercase">Insights</h2>
						</div>
						<div class="col-lg-2 col-sm-6 single-process no-padding">
							<span class="lnr lnr-smile" style = "font-weight: 700"></span>
							<div class="d-flex justify-content-center dot" style = "background: #000"></div>
							<h2 class="text-uppercase">Happy Customers</h2>
						</div>
					</div>
				</div>
			</section>
			<!-- End process Area -->
			<!-- Strat Footer Area -->
			<footer class="section-gap">
				<div class="container">
					<div class="row">
						<div class="col-lg-4 col-sm-6">
							<div class="single-footer-widget">
								<h6 class="text-uppercase mb-20">Contact</h6>
								<p class = "text-white">
									Tabish Muzaffar: <b> tbaig@khi.iba.edu.pk </b>
								</p>
								<p class = "text-white">
									Sobia Aleem: <b> saleem@khi.iba.edu.pk </b>
								</p>
								<p class = "text-white">
									Saad Mughal: <b> smughal@khi.iba.edu.pk </b>
								</p>
							</div>
						</div>
					</div>
					<div class="footer-bottom d-flex justify-content-between align-items-center flex-wrap">
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						<p class="footer-text m-0 text-white">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved by TSS | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					</div>
				</div>
			</footer>
			<!-- End Footer Area -->
			<script src="{{ url_for('static', filename ='js/vendor/jquery-2.2.4.min.js') }}"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js') }}" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
			<script src="{{ url_for('static', filename ='js/vendor/bootstrap.min.js') }}"></script>
			<script src="{{ url_for('static', filename ='js/jquery.ajaxchimp.min.js') }}"></script>
			<script src="{{ url_for('static', filename ='js/owl.carousel.min.js') }}"></script>
			 <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
			<script src="{{ url_for('static', filename ='js/jquery.nice-select.min.js') }}"></script>
			<script src="{{ url_for('static', filename ='js/jquery.magnific-popup.min.js') }}"></script>
			<script src="{{ url_for('static', filename ='js/main.js') }}"></script>
		</body>
	</html>
